[Unit]
Description=big-AGI Web Application
After=network.target localai.service

[Service]
Type=simple
User=ssjlox
WorkingDirectory=/run/media/ssjlox/gamer/localAI/big-AGI
Environment="NODE_ENV=production"
ExecStart=/usr/bin/npm run dev
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
